[core]
	excludesfile = /Users/$USER/.gitignore_global
[user]
	name = sonegishi
	email = 5055ngs@gmail.com
[alias]
	st = status -sb
	co = checkout
	fe = fetch
	ci = commit -v
	g = grep -i
	df = diff
	cp = cherry-pick
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
